.r_block {
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;

  @include rem(padding, 90px 0);

  .lead {
    text-align: left;
    color: #8c94a0;
    font-size: 22px;
    line-height: 1.64;

    @include rem(margin-bottom, 40px);
  }

  &__header {
    text-align: left;

    @include clearfix;
    @include rem(margin-bottom, 10px);

    h3 {
      margin-bottom: 0;
      font-weight: $fw-semi;
      display: inline-block;
      vertical-align: middle;
    }

    a {
      color: $secondary;
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
    }

    .middot {
      display: inline-block;
      vertical-align: middle;
      font-weight: $fw-semi;

      @include rem(font-size, 28px);
    }
  }

  &--message {
    text-align: center;
    padding: 0;

    .valign {
      padding: 34px 0;
    }

    .report_link {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;

      @include rem(bottom, 18px);
    }
  }

  &--results {
    text-align: center;

    @include rem(padding, 50px 0);

    .report_link {
      margin-bottom: 10px;
    }
  }

  @media all and (max-width: $screen-mobile-tiny) {
    padding-bottom: 30px;
    padding-top: 30px;

    .lead {
      font-size: 18px;
      line-height: 1.11;
      margin-bottom: 22px;
    }

    &__header {
      margin-bottom: 12px;

      h3, a, .middot {
        font-size: 18px;
        line-height: 1;
      }

      a {
        position: relative;
        top: -1px;
      }
    }

    .valign {
      padding-top: 0;
      height: auto !important;
      min-height: 0 !important;
    }

    .valign_cell {
      vertical-align: top;
    }

    &--message {
      min-height: 0;

      .valign {
        padding-bottom: 20px;
      }

      .report_link {
        position: static;
      }
    }
  }
}

.report_link {
  width: 370px;
  max-width: 100%;
}